/* Layout */
.app-container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
}

.layout {
  display: flex;
  height: 100vh;
  background: #f4f6f8;
}

/* Sidebar */
.sidebar {
  width: 240px;
  background: #1d2939;
  color: white;
  padding: 25px;
  flex-shrink: 0;
}

.sidebar h2 {
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: 700;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

.sidebar li {
  padding: 12px 0;
  font-size: 16px;
  opacity: 0.8;
  cursor: pointer;
}

.sidebar li.active,
.sidebar li:hover {
  opacity: 1;
  font-weight: 600;
}

/* Main */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

/* Topbar */
.topbar {
  background: white;
  padding: 20px 30px;
  border-bottom: 1px solid #ddd;
}

.topbar h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}

/* Content */
.content {
  padding: 30px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

/* Cards */
.upload-card,
.uploaded-card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  width: 380px;
  max-width: 100%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.upload-box {
  border: 2px dashed #bbb;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 15px;
}

.upload-box:hover {
  border-color: #1d2939;
}

/* Hide input */
#file-input {
  display: none;
}

.upload-box label {
  font-size: 16px;
  color: #555;
  cursor: pointer;
}

/* Preview */
.preview-box img {
  width: 100%;
  margin-top: 10px;
  border-radius: 8px;
  object-fit: cover;
}

/* Button */
.btn {
  width: 100%;
  padding: 12px;
  background: #16a34a;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}

.btn:hover {
  background: #128c3f;
}

/* --------------------------- */
/* RESPONSIVE RULES */
/* --------------------------- */

/* Tablet */
@media (max-width: 992px) {
  .layout {
    flex-direction: column;
    height: auto;
  }

  .sidebar {
    width: 100%;
    padding: 18px;
  }

  .topbar h1 {
    font-size: 20px;
  }

  .content {
    justify-content: center;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .sidebar h2 {
    font-size: 18px;
  }

  .topbar {
    padding: 15px 20px;
  }

  .topbar h1 {
    font-size: 18px;
  }

  .content {
    padding: 20px;
    gap: 20px;
  }

  .upload-card,
  .uploaded-card {
    padding: 20px;
    width: 100%;
  }

  .upload-box {
    padding: 20px;
  }

  .btn {
    padding: 10px;
    font-size: 15px;
  }
}
